workflows/drive -_ pinecone (marcellas).json
{
  "name": "drive -> pinecone (marcellas)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wg58a8Pjgecfss1Nbdvea9rsmMT1P487",
          "mode": "list",
          "cachedResultName": "marcellas agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wg58a8Pjgecfss1Nbdvea9rsmMT1P487"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "6e769318-12de-4eac-83ea-c47104615f08",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uJlgqfceJPY9v9tU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "marcellaagent",
          "mode": "list",
          "cachedResultName": "marcellaagent"
        },
        "embeddingBatchSize": 100,
        "options": {
          "pineconeNamespace": "restaurant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        144
      ],
      "id": "f1ee242a-3fc6-4c1f-a254-7c3f6a970ccb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "U7h4cu93tdAlhDSd",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        384
      ],
      "id": "f6a8b6d5-c1ca-4715-a0e2-54fe7dd8007c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2Fp8r3Rqagfx7zT7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        384
      ],
      "id": "d8eb84b5-02c9-41fe-84a6-6d0b4f7d8d8a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        144
      ],
      "id": "2223818e-50f1-4cc1-9bbb-5154b8a1a06f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uJlgqfceJPY9v9tU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        576
      ],
      "id": "68d7e842-a3e3-4f4d-a2e7-ce43546846b6",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e4140093-fa23-4957-9c9f-17d2b5d0d6ab",
  "meta": {
    "instanceId": "4ea573ce60f7bf5034c35ef0c9ed1ffb605140845ab0ffb7d03c3e6073457442"
  },
  "id": "Oa49tFGjxgfAsZwO_wDzV",
  "tags": [
    {
      "updatedAt": "2026-01-22T20:14:10.683Z",
      "createdAt": "2026-01-22T20:14:10.683Z",
      "id": "upggbMSp7fArX4U0",
      "name": "marcellas agent"
    }
  ]
}